.sidenav__bar {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100px;
}
.sidebar{
    border-right: 1px solid #dee2e6;
}

.sidebar__logo__icon img{
    width: 80px;
}
.chat__logo__container  > img{
    width: 100px;
}
a:hover{
    color: var(--color-bg) !important;
}

.chat__system{
    /* height: 99vh;
    padding: 0 5px; */
    overflow-y: hidden;
} 
.logo__container{
    width: 100%;
}

.search__form{
    border: none;
}
.search__form:focus {
    border: none;
    box-shadow: none;
}
.search__form__container{
    display: flex;
    align-items: center;
    border: 1px solid var(--color-bg);
    padding: 2px 10px;
    border-radius: 0.5rem;
    background: #fff;
}
.search__icon{
    color: #34755f;
}
.users__lists{
    background-color: #f8f9fa;
}
.user__image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: .9em;
}
.badge{
    position: relative;
    border-radius: 2.25rem;
    height: calc(1em + 0.778em);
    padding: 7px;
    text-align: end;
    align-items: center;
    display: flex;
    background: var(--color-bg);
}
.user__info{
    display: flex;
    position: relative;
}
.user__info span{
    position: absolute;
    right: 0;
    font-size: .8em;
    color: #8292a9!important;
}
.user__name{
    font-size: 1em;
}
.user__message{
    display: flex;
    align-items: center;
}
.overflow-auto{
    height: 99vh;
}
.custom-tooltip {
    --bs-tooltip-bg: var(--color-bg);
  }

  .nav a{
    font-size: 1.5rem;
    color: #95aac9 !important;
  }
  .nav .nav-item{
    display: flex;
    justify-content: center;
  }
.nav a:hover{
    border-radius: 50%;
    background: #eeeff0;
    width: fit-content;
    color: #1cdc99 !important;
}
.sidebar__user__img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;

}
.chat__top__header__section img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.chat__content{
    height: auto !important;
}
.chat__user__name{
    align-items: center;
    display: flex;
    margin-left: 10px;
}
.user__status{
    color: #b4b6b7;
    font-size: 13px;
}
.users__lists__container {
background: #f8f9fa;
}
.chat__container{
    height: 99vh;
}
.scroll__auto{
    height: 76vh;
    overflow: auto;
}
.user_design{
    background: #fff;
    padding: 15px 10px;
    border-radius: 5px;
}
.notfound {
    
    text-align: center;
    display: flex;
    align-items: center;
    height: 99vh;
    justify-content: center;
}
.notfound h1{
    font-size: 10rem;
}

.home__icons{
    font-size: 100px;
    margin: 10px;
    color: #fff;
}
.total__count{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.total__count h1, p{
    color: #adb5bd;
    margin: 0;
}
.bg-success{
    background: #2bbf8b !important;
}
.dashboard__image{
    height: 70vh;
}
.box_shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  button{
    background: transparent;
  }
  .modal__user__image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .sidebar__user__profile .modal-title{
    width: 100%;
    text-align: center;
    background-color: #fff;
  } 
  .sidebar__user__profile p{
    font-size: auto;
  }
  .sidebar__user__profile .modal-footer button{
    color: red;
  }
 .sidebar__user__profile .active__time{
    font-size: 14px;
    font-weight: 100;
 }
 .sidebar__user__profile .modal-content{
    background: #f1f1f1;
 }
 .sidebar__user__profile .modal-footer{
    background: #fff;
 }
 .sidebar__user__profile .modal-body{
    background: #fff;
 }
 .sidebar__user__profile .modal-header{
    background: #fff;
 }
 .sendMessageForm{
    position: fixed;
    bottom: 0;
    display: flex;
    gap: 40px;
    align-items: center;
 }
 .sendMessageForm button{
    height: fit-content;
 }
 .message-container {
    height: 70vh;    
    background-color: white;
    overflow-y: auto;
    border-radius: 5px;
    margin-bottom: 2px;
  }
  .from-user {
    font-size: 12px;
    margin-bottom: 3px;
    margin-right: 5px;
    color: #adb5bd;
  }
  .user-message {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
  }
  .message {
    display: inline-flex;
    margin: 0px auto 0px auto;
    padding: 2px 8px;
    border-radius: 5px;
    margin-top: 3px;
    color: #fff;
  }
  /* Add appropriate styles for sent and received messages */
.sent-message {
    text-align: right;
  }
  
  .sent-message .message{
    background: #28be8a;
    max-width: 80%;
    text-align: justify;
    width: max-content;
  }
  .received-message {
    text-align: left;
  }
  .received-message .message{
    background: #adb5bd;
    max-width: 80%;
    text-align: justify;
    width: max-content;
  }
  .message p{
    color: #fff;
    font-size: .9em;
  }
  .menu__dot{
    font-size: 20px;
    color: #000;
    align-items: center;
  }
  .menu__dot svg{
    cursor: pointer;
  }
  .user_design {
    cursor: pointer;
  }
  .send_message_form{
    background: #dee2e6;
  }
  .align-middle{
    align-items: center;
  }
  .send_message_form textarea{
    width: 100%;
    background: transparent;
    margin: 16px 0px;
    resize: none;
  }
  .send_message_form button{
    font-size: 20px;
  }
  .chat__container{
    position: relative;
  }
  .chat__container .message__input__container{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .input__files{
    color:#74777a;
  }
  .setting__comp{
    background: #f8f9fa;
  }
  .user__setting__profile{
    background: #fff;
    border-radius: 5px;
  }
  hr{
    background: #adb5bd;
    height: 2px;
    color: transparent;
  }
  .password__section ::after{
    content: '>';
    color: #adb5bd;
    height: 5px;
    position: absolute;
    right: 0;

  }
  .cursor__pointer{
    cursor: pointer;
  }
  .change__password__container input{
    background: #f8f9fa;
    border: none;

  }
  .change__password__container .form-floating > input:focus{
    border: none;
    background: #f8f9fa;
  }
  .user__image img{
    object-fit: cover;
  }
.chat__container__img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chat__container__width{
  width: 90%;
  max-width: 100%;
}
.video__call__icon > svg{
  color: #046242;
}
.video__call__component_modal .modal-dialog {
  max-width: 90%;
  max-height: 90vh;
}
.video__call__component_modal .modal-content{
 color: #fff !important;
}
.video__call__component_modal video{
  width: 100%;
}
.video__call__component_modal h3{
  color: #000;
  position: absolute;
  top: 50%;
  left: 33%;


}
.chat__file{
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.file_message{
  background: none !important;
}
















@media screen and (max-width:600px) {
  body{
    font-size: 14px;
  }
  .chat__system{
    position: relative;
  }
  .sidebar {
    height: fit-content;
    position: absolute;
    overflow: hidden !important;
    background: transparent;
    width: 62px;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 1px solid #e0e0e0;
    padding: 0;
    margin: 0;
  }
  .nav-item{
    display: inline-block !important;
  }

  .sidebar .sidebar__logo__icon,
  .bottom__profile__img {
    display: none;
  }

  .chat__container__width {
    width: 100%;
  }

  .sidebar ul li{
    padding: 0 !important;
  }
  .sidebar ul{
    align-items: baseline;
  }
 
  .users__lists{
    padding:1.5rem  .5rem !important;
  }
  .message-container {
    margin: 0 -20px !important;
    padding: 5px 20px;
  }
  .users__lists__container{
    margin: 0 !important;
  }
  .user_design {
    margin: 10px 0 !important;
  }
  .user_design .col-auto{
    padding-left: 0;
  }
  .message__input__container {
    padding: 0 !important;
  }
  .hide__userlists{
    display: none;
  }
  .chat__content {
    margin: 0 !important;
    padding: 0 0 .5rem 0 !important;
  }
  .setting__comp {
    padding: 0 .5rem !important;
  }
  h4{
    font-size: 15px !important;
  }
  .row {
    margin-left: 0 !important;
  }
  input {
    font-size: 14px !important; 
  }
  button{
    font-size: 15px !important
  };
  .user__setting__profile {
    padding: 1rem 0 !important;
  }
  .show__on__mobile__device{
    display: inline-block !important;
  }
  .hide__on__mobile__device{
    display: none !important;
  }
  .search__container{
    margin: 0.5rem 0 !important;
  }
  .users__lists {
    padding: .5rem 0 !important;
  }
  .message__input__container  .col-auto{
    margin: 0 !important;
    padding: 0 !important;
  }
  .menu__dot button{
    font-size: 18px;
  }
  .message p{
    font-size: 14px;
  }
  .from-user{
    font-size: 12px;
  }
  .chat__content {
    height: 12vh;
}
.chat__container .message__input__container {
  height: 10vh !important;
}
.message-container {
  height: 80%;
}.chat__content{
  position: sticky;
}
}
